[submodule "src/VaporEngine/vendor/spdlog"]
	path = VaporEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog

[submodule "VaporEngine/vendor/GLFW"]
	path = VaporEngine/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
[submodule "VaporEngine/vendor/imgui"]
	path = VaporEngine/vendor/imgui
	url = https://github.com/GaryFrazier/imgui
